.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

.works-filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.works-filters__item:not(:last-child) {
  margin-right: 8px;
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.works__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid var(--card-border-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.works__item-wrapper {
  position: relative;
  overflow: hidden;
}

.works__top-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(200%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .works__item:hover & {
    transform: translateY(0);
    visibility: visible;
  }
}

.works__item-content {
  padding: 20px 24px;
}

.works__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.works__item-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
